@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap");

body {
  font-family: "Poppins", "Times New Roman", Times, serif;
  line-height: 1.5;
  background-color: #f1f3fb;
  background-image: url("../joel-filipe-jU9VAZDGMzs-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 0 2rem;
}

img {
  max-width: 100%;
  display: block;
}

input {
  appearance: none;
  border-radius: 0;
}

.card {
  margin: 1rem auto;
  justify-content: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 20px 0 rgba(#999, 0.25);
  padding: 0.75rem;
}

.card-image {
  border-radius: 8px;
  overflow: hidden;
  padding-bottom: 40%;
  background-image: url("https://wallpaperaccess.com/full/2338264.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: 0 50%;
  position: relative;
}

.card-form {
  padding: 0 1rem;
}
.name_price {
  display: flex;
  flex-direction: row;
  padding-left: 0;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}
#name {
  padding-left: 10px;
}
#price {
  padding-right: 10px;
}
.input {
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  padding-top: 1.5rem;
}
.input {
  margin-top: 1.5rem;
}

.input-label {
  color: #77a2e7;
  position: absolute;
  top: 1.5rem;
  transition: 0.25s ease;
}

.input-field {
  border: 0;
  z-index: 1;
  background-color: transparent;
  border-bottom: 2px solid #eee;
  font-size: 1.125rem;
  padding: 0.25rem 0;
}
textarea {
  max-width: 100%;
  min-width: 100%;
}
.input-field:focus,
:valid {
  outline: 0;
  border-bottom-color: #77a2e7;
}
.input-label {
  color: #77a2e7;
  transform: translateY(-1.5rem);
}

.action {
  margin-top: 2rem;
  /* width: 100%; */
}

.action-button {
  font: inherit;
  text-align: center;
  font-size: 1.25rem;
  padding: 1em;
  width: 100%;
  font-weight: 500;
  background-color: #77a2e7;
  border-radius: 6px;
  color: #fff;
  border: 0;
}
.action-button:focus {
  outline: 0;
}
.action-button:hover {
  color: black;
  background-color: lightblue;
  border: 1px black solid;
  font-weight: 800;
}

#cancel_btn.action-button {
  text-decoration: none;
  display: block;
  font: inherit;
  text-align: center;
  font-size: 1.25rem;
  /* padding: 1em; */
  width: 95%;
  font-weight: 500;
  background-color: red;
  border-radius: 6px;
  color: #fff;
  border: 0;
}

#cancel_btn.action-button:hover {
  color: black ;
  background-color: tomato;
  border: 1px black solid;
  font-weight: 800;
}

/* .display {
  display: none;
} */
@media only screen and (max-width: 600px) {
  .name_price {
    display: block;
  }
}
