*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.flex{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.homepage-main{
    height: 99.9vh;
    background-color: #77a2e7;
    background-image: url('https://images.unsplash.com/photo-1596213412524-b063f73c7249?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=388&q=80');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.home-page-section{
    border-radius: 20px;
    flex-direction: column ;
    height:55% ;
    width: 40%;
    padding-top: 1rem;
    text-align: center  ;
    color:  #77a2e7;
    font-size: 1.7rem;
    justify-content: space-around;
    background-color: white;
    box-shadow: 5px 10px 10px  #888888;
}
.landing-page-button{
    width: 60%;
    justify-content: space-between;
}
.landing-page-button button{
    border:2px solid #617088;
    border-radius: 20px;
    background-color:  white;
    padding: 1rem;
    color:  #77a2e7;
    font-weight: 900;
    font-size: 1rem;
    cursor: pointer;
}
.landing-page-button button:hover{
    background-color: #0096ce;
    color:white;
}