*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.flex{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.homepage-main{
    height: 99.9vh;
    background-color: #77a2e7;
}
.home-page-section{
    border-radius: 20px;
    flex-direction: column ;
    height:55% ;
    width: 40%;
    padding-top: 1rem;
    text-align: center  ;
    color:  #77a2e7;
    font-size: 1.7rem;
    justify-content: space-around;
    background-color: white;
}
.landing-page-button{
    width: 60%;
    justify-content: space-between;
}
.landing-page-button button{
    border:2px solid #617088;
    border-radius: 20px;
    background-color:  white;
    padding: 1rem;
    color:  #77a2e7;
    font-weight: 900;
    font-size: 1rem;
    cursor: pointer;
}
.landing-page-button button:hover{
    background-color: #0096ce;
    color:white;
}